body .container {
    max-width: 980px;
    margin-bottom: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#header {
    margin: 30px 0;
}

#items {
    margin-bottom: 50px;
}

#items .box strong {
    font-size: 1.2em;
}

div.hello {
    line-height: 32px;
}

.container a {
    text-decoration: none;
    border: none;
    color: #222324;
}

.container a:hover {
    text-decoration: none;
    border: none;
}

.textarea {
    min-height: 200px;
}

.view-item {
    margin-top: 115px;
}

.right {
    text-align: right;
}

.fa {
    vertical-align: middle;
}

.content {
    word-wrap: break-word;
}
